<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="ComponentCtrl">
    <div class="twitter-nav">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" >
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand" id="navbar-brand"><i class="fa fa-twitter fa-lg" id="twitter-icon" aria-hidden="true"></i> QueryTwitter</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav" id="left-nav">
                <li ng-class="{active: isActive('/')}"><a href="/">Query </a></li>
            </ul>
        </div>
    </div>
</div>




